@model IEnumerable<FPTBook.Models.order>

@{
    ViewBag.Title = "Index";
}

<h2>Order</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.receiver_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.delivery_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_price)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.receiver_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.phone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.order_date)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.delivery_address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.total_price)
    </td>
    <td style="text-align: center;">
        <div>@Html.ActionLink(" ", "Details", new { id = item.order_id }, new { @class = "glyphicon glyphicon-info-sign", @style = "font-size: 20px;color: rgb(1,1,1);text-decoration:none" })</div>
    </td>
    <td style="text-align: center;">
        <div>@Html.ActionLink(" ", "Delete", new { id = item.order_id }, new { @class = "glyphicon glyphicon-remove", @style = "font-size: 20px;color: rgb(1,1,1);text-decoration:none" })</div>
    </td>
</tr>
}

</table>
