@model FPTBook.Models.Cart

@{
    ViewBag.Title = "ShowCart";
}

<h2>Cart</h2>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Product name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                double total = item._shopping_product.book_price * item._shopping_quantity;
                <tr>
                    <td>
                        @Html.DisplayFor(model => item._shopping_product.book_name)
                    </td>
                    <td>
                        <img src="~/Content/images/@item._shopping_product.book_picture" style="width: 80px; height:100px;" loading="eager" />
                    </td>
                    <td>
                        @Html.DisplayFor(model => item._shopping_product.book_price) $
                    </td>
                    <td>
                        @using (Html.BeginForm("Update_Quantity", "ShoppingCart"))
                        {
                            <input type="hidden" value="@item._shopping_product.book_id" name="Book_id" />
                            <input type="number" value="@item._shopping_quantity" name="Quantity" />
                            <input type="submit" value="Update" />
                        }

                    </td>
                    <td>
                        Total: @total $
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item._shopping_product.book_id })
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" style="text-align:right;" name="TotalPrice"> Sum Total: @Model.Total_Money() </td>
            </tr>

            <tr>
                <td colspan="2"></td>
                <td colspan="4" style="text-align:center">
                    @using (Html.BeginForm("OrderProduct", "ShoppingCart", FormMethod.Post))
                    {
                        
                        <table style="border-collapse:separate;border-spacing:5px;">
                            <tr>
                                <td>@Html.LabelFor(model => model.acc_name, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                                <td>
                                    @Html.EditorFor(model=>model.acc_name, new { htmlAttributes = new { @class = "form-control",@Value=Session["username"] ,@required =" ",@readonly="" } })
                                    @Html.ValidationMessageFor(model => model.acc_name, "", new { @class = "text-danger" })
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.receiver_name, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                                <td>
                                    @Html.EditorFor(model => model.receiver_name, new { htmlAttributes = new { @class = "form-control", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.receiver_name, "", new { @class = "text-danger" })
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                                <td>
                                    @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.delivery_address, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                                <td>
                                    @Html.EditorFor(model => model.delivery_address, new { htmlAttributes = new { @class = "form-control", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.delivery_address, "", new { @class = "text-danger" })
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>@Html.LabelFor(model => model.total_price, htmlAttributes: new { @class = "control-label col-md-2" })</td>
                                <td>
                                    @Html.EditorFor(model => model.total_price, new { htmlAttributes = new { @class = "form-control",@Value=@Model.Total_Money() ,@required = "" } })
                                    @Html.ValidationMessageFor(model => model.total_price, "", new { @class = "text-danger" })
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <input type="submit" value="Order" />
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    }
                </td>
            </tr>

        </tfoot>
    </table>
    <div>
        @Html.ActionLink("Back to home page", "Index", "Home")
    </div>

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}