@model IEnumerable<FPTBook.Models.category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create new category", "Create","Category")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cate_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cate_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cate_description)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.cate_id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.cate_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.cate_description)
    </td>
    <td style="text-align: center;">
        <div>@Html.ActionLink(" ", "Edit", new { id = item.cate_id }, new { @class = "glyphicon glyphicon-pencil", @style = "font-size: 20px;color: rgb(1,1,1);text-decoration:none" })</div>
    </td>
    <td style="text-align: center;">
        <div>@Html.ActionLink(" ", "Delete", new { id = item.cate_id }, new { @class = "glyphicon glyphicon-remove", @style = "font-size: 20px;color: rgb(1,1,1);text-decoration:none" })</div>
    </td>
</tr>
}

</table>
